@charset "UTF-8";
/* CSS Document */

body {
	width: 95%;
	font: 18px/30px Helvetica; color: #000000;
}

/*section {
	overflow-x: hidden; height: 993px;
}*/

#graph {
	width:70%;
	padding-top: 20px;
	padding-bottom:20;
 	padding-left: 40px;
 	padding-right:40;
	}
	
h1 {
	font-family:Helvetica;
	margin-left:20px;

}

p {
	width:80%;
	font-family:Helvetica, sans-serif;
	font-size:14px;
	margin-left:30px;
	text-indent:30px;
}


