@charset "UTF-8";
/* CSS Document */

body {
	background-color:#ffffff;
}

a {
	font-family:"Trebuchet MS";
	color:#4D4D4D;
	}

h1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:40px;
	padding-left:30px;
}

h2 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:32px;
	padding-left:30px;
	padding-top:20px;
}

#enrollmentChart {
	max-width: 90%;
	padding-right:20px;
	padding-left:20px;
}

#enrollmentText {
	max-width: 700px;
	padding-right:20px;
	padding-left:20px;
}

p {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-indent:20px;
	font-size:16px;
	color:#4D4D4D;
	width:100%;
	
}

#residentChart {
	max-width: 700px;
	padding-right:20px;
	padding-left:20px;
	padding-top:-30px;
	
}

#residentText {
	max-width: 700px;
	padding-right:20px;
	padding-left:20px;
}

.table-responsive {
	max-width:700px;
	margin-left: auto;
	margin-right: auto;	
}

