.version.sports /* version checker */
{
	color: #0000E9;
	background-color: #03B4FE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 111px;
	min-height: 50px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-right: 269px;
	padding-bottom: 520px;
}

#slideshowu7761
{
	z-index: 2;
	width: 0.01px;
	height: 50px;
	position: relative;
}

#u7769
{
	position: absolute;
	background-color: transparent;
}

#u7769popup
{
	z-index: 3;
}

#u7770
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7827
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7836
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7845
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7854
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7863
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7872
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u7776-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u7776-4popup
{
	z-index: 18;
}

#u7776
{
	color: #999999;
}

#u7786-4
{
	position: absolute;
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 15px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 56px;
}

#u7786-4popup
{
	z-index: 22;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

